src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xsd:element name="Request">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="element1" type="xsd:string" minOccurs="1" />
                <xsd:element name="element2" type="xsd:int" minOccurs="0" />
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

</schema>
        